[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/glad"]
	path = vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
